@import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&display=swap');

.banner {
    background: rgb(254, 148, 186);
    background: linear-gradient(0deg, rgba(254, 148, 186, 1) -19%, rgba(236, 30, 103, 1) 0%, rgba(255, 51, 122, 1) 50%, rgba(249, 40, 113, 1) 95%);
}

.title {
    font-size: 55px;
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    line-height: 90px;

}

.row-banner {
    min-height: 100vh;
}

.icon-blender {
    height: 400px;
}

p.deskripsi {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #fff;
    line-height: 24px;
}

.data-resep {
    margin-top: -90px;
    padding-bottom: 50px;
}

.kategori-resep {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.kategori-resep img {
    width: 60px;

}

.kategori-resep .nama-item {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Acme', sans-serif;
}

.card-title-30 {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Acme', sans-serif;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}


[x-cloak] {
    display: none !important;
}
